<article class="mainmenucontent pt-5 mt-5" ng-controller="myCtrl">
    <div class="header">
        <div class="container">
            <div class="row product-list mb-3 pt-5">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tag: "Sẵn Hàng"</li>
                    </ol>
                </nav>
                <div class="col-md-3 mb-3 " style="list-style: none;">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Danh Mục Nhóm
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="filter-box ">
                                        <u class="menu-collection clearfix mb-15   " style="text-decoration: none;">
                                        <li class="mb-3">
                                    
                                            <a class="" href="#!\" title="Trang Chủ">Trang Chủ</a>
                                        </li>
                                        <li><a href="#DSSP" title="Hàng Có Sẵn">Hàng Có Sẵn</a></li>
                                        <li class="submenu-parent" aria-expanded="false">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                    <a href="#" title="Marvel/DC">Marvel/DC</a>
                                            </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="">
                                                <div class="accordion-body">
                                                  <ul class="menudrop  " >													
                                                <li class="">
                                                    <a href="#" title="Vũ khí tối thương/ mặt nạ">Vũ khí tối thương/ mặt nạ</a>
                                                </li>                                                                                                                  
                                                <li class=" submenu-children" aria-expanded="false">
                                                    <a href="#" title="Sản phẩm công nghệ">Sản phẩm công nghệ</a>                                             
                                                    <ul class="menudrop ">                                                    
                                                        <li class="">
                                                            <a href="#" title="Chuột không dây">Chuột không dây</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Sạc dự phòng">Sạc dự phòng</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Dây cáp sạc">Dây cáp sạc</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Loa Superhero">Loa Superhero</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                                                                                                                 
                                                <li class=" submenu-children" aria-expanded="false">
                                                    <a href="#" title="Phụ kiện đặc biệt">Phụ kiện đặc biệt</a>
                                                    
                                                    <ul class="menudrop">
                                                    
                                                        <li class="">
                                                            <a href="#" title="Vòng cổ/vòng tay">Vòng cổ/vòng tay</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Nhẫn quyền lực nhất vũ trụ">Nhẫn quyền lực nhất vũ trụ</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Móc khóa kim loại">Móc khóa kim loại</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Mũ/Ví superhero">Mũ/Ví superhero</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Cốc SAH">Cốc SAH</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Hộp đựng quà tặng">Hộp đựng quà tặng</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Quà tặng độc lạ">Quà tặng độc lạ</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                                                                                                                       
                                                <li class=" submenu-children" aria-expanded="false">
                                                    <a href="#" title="Mô hình">Mô hình</a>                                              
                                                    <ul class="dropdown-menu default-none-dropdown-menu pd-l-10">
                                                        
                                                        <li class="">
                                                            <a href="#" title="Mô hình 1/6">Mô hình 1/6</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Square Enix-Play Arts Kai">Square Enix-Play Arts Kai</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Mô hình dưới 12cm">Mô hình dưới 12cm</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Bandai-Figma-SHF-marvelselect">Bandai-Figma-SHF-marvelselect</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Mô hình tổng hợp">Mô hình tổng hợp</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Hottoys">Hottoys</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="Kingarts 1/9">Kingarts 1/9</a>
                                                        </li>
                                                        
                                                        <li class="">
                                                            <a href="#" title="zdtoys">zdtoys</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Balo (hàng độc)">Balo (hàng độc)</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Lego/Decool/SY">Lego/Decool/SY</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Tượng marvelstore">Tượng marvelstore</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Tượng Tĩnh">Tượng Tĩnh</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Mặt nạ">Mặt nạ</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Bộ bài Marvel">Bộ bài Marvel</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Tượng 1/2 và 1/1">Tượng 1/2 và 1/1</a>
                                                </li>
                                                
                                                
                                                
                                                <li class="">
                                                    <a href="#" title="Áo Siêu Anh Hùng">Áo Siêu Anh Hùng</a>
                                                </li>
                                                                                                                        
                                                <li class="">
                                                    <a href="#" title="Hottoys giá rẻ">Hottoys giá rẻ</a>
                                                </li>                                                                                   
                                                </ul>   
                                                </div>
                                            </div>
                                            <h2 class="accordion-header" id="headingfour">
                                                <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                                    <a href="#" title="Marvel/DC">Manga/Anime</a>
                                            </button>
                                            </h2>
                                            <div id="collapsefour" class="accordion-collapse collapse " aria-labelledby="headingfour" data-bs-parent="">
                                                <div class="accordion-body">
                                                    <ul class="menudrop">													
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Dragon Ball</a>
                                                        </li>    
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Naruto</a>
                                                        </li>   
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">One Piece</a>
                                                        </li>  
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Pokemon</a>
                                                        </li>  
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Mô hình Yugi-Oh</a>
                                                        </li>   
                                                    </ul>                      
                                                </div>
                                            </div>
                                            <h2 class="accordion-header" id="headingfive">
                                                <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                                    <a href="#" title="Marvel/DC">Sản phẩm theo Phim</a>
                                            </button>
                                            </h2>
                                            <div id="collapsefive" class="accordion-collapse collapse " aria-labelledby="headingfive" data-bs-parent="">
                                                <div class="accordion-body">
                                                    <ul class="menudrop">													
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Transformer</a>
                                                        </li>    
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Tam quốc 三国</a>
                                                        </li>   
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">kamen rider</a>
                                                        </li>  
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">Bao Thanh Thiên</a>
                                                        </li>  
                                                        <li class="">
                                                            <a href="#" title="Dragon Ball">The pacific rim</a>
                                                        </li>   
                                                    </ul>    
                                                </div>
                                            </div>
                                            <!-- <a href="#" title="Marvel/DC">Marvel/DC</a> -->
                                            
                                            
                                        </li>
                                        <li class="mb-3">
                                            <a  href="#!TinTuc" title="Trang Chủ">Chỉ dẫn mua hàng</a>
                                        </li>
                                        <li>
                                            <a  href="#!LienHe" title="Trang Chủ">Liên hệ</a>
                                        </li>
                                    </u>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingprice">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseprice" aria-expanded="false" aria-controls="collapseprice">
                                  Giá
                                </button>
                            </h2>
                            <div id="collapseprice" class="accordion-collapse collapse" aria-labelledby="headingprice" data-bs-parent="#accordionExample">
                                <div class="accordion-body " ng-model="prop">
                                    <div class="filter-box" id="filter-price">
                                        <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1 " checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Nhỏ hơn 1,000,000₫</span>
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                    <span>Từ 1,000,000₫ - 2,000,000₫</span>
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                    <span>Từ 2,000,000₫ - 3,000,000₫</span>
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                    <span>Từ 3,000,000₫ - 4,000,000₫</span>
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                    <span >Lớn hơn 4,000,000₫</span>
                                                </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6 mb-3 ">
                            <h3 class="title-group">Hàng có sẵn</h3>
                        </div>
                        <div class="col-md-6 text-end ">
                            <span class="mr5 text-end " style="font-weight: bold;font-size: 17px;">Sắp xếp theo:</span>
                            <span class="option custom ">
                                                        <select ng-model="prop" class="w-75 " style="height: 40px;font-family: 'Times New Roman', Times, serif;background-color: azure;" >                                                         
                                                            <option value="Main">Sản phẩm nổi bật</option>
                                                            <option value="Price">Giá: Tăng dần</option>
                                                            <option value="-Price">Giá: Giảm dần</option>
                                                            <option value="name">Tên: A-Z</option>
                                                            <option value="-name">Tên: Z-A</option>
                                                            <option value="created-ascending">Cũ nhất</option>
                                                            <option value="created-descending">Mới nhất</option>
                                                            <option value="best-selling">Bán chạy nhất</option> 
                                                        </select>
                                                    </span>
                        </div>

                        <div class="product-list ">
                            <div class="row product-item">
                                <div ng-repeat="ds in productsSP | orderBy : prop | limitTo :6:batdau  " class="col-md-4 mb-3 d-flex">
                                    <div class="card" style="width: 20rem;">
                                        <div class="imghover">
                                            <img src="{{ds.Image}} " class="img-thumbnail image " alt="... ">
                                        </div>
                                        <div class="card-body ">
                                            <a href="#!detail2/{{$index}}">
                                                <h5 class="card-title ">{{ds.name |uppercase}}</h5>
                                            </a>
                                            <p class="product-vendor ">Khác</p>
                                            <p class="card-text  ">{{ds.Price | currency : "VNĐ " : 3 }} <del class="text-danger">5%</del></p>
                                        </div>
                                        <div class="card-footer text-center ">
                                            <button type="button" style="height: 60px;" class=" w-75  rounded-3 fs-5 border border-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        Chọn các tùy chọn
                                                </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content ">
                                                        <div class="row">
                                                            <div id="surround" class="col-md-5 ">
                                                                <div class="card imghover w-100%">
                                                                    <img src="{{sp.image}}" class="card-img-top img-thumbnail " alt="... ">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 imformation-product ">
                                                                <div class="product-title p-2">
                                                                    <p class="newarrival text-center bg-warning w-25 text-white fs-6 " style="font-weight: bold;">New</p>
                                                                    <h3>{{sp.name}}</h3>
                                                                </div>
                                                                <div class="clearfix product-sku-date p-2">
                                                                    <span class="pull-left product-sku" id="pro_sku">SKU: </span>
                                                                </div>
                                                                <div class="product-price p-2" id="price-preview">
                                                                    <span>{{sp.price}}</span>
                                                                </div>
                                                                <div class="clearfix bg-success p-2 text-white  text-center w-75 ">
                                                                    <i class="bi bi-cart-fill float-start fs-1 "></i>
                                                                    <button ng-click="add-cart(product)" type="button" class="btn btn-default cart fs-2 w-75 ">Add to cart</button>
                                                                </div>
                                                                <div class="info py-4">
                                                                    <div class="fb-like" data-href="http://127.0.0.1:5501/ChiTietSP.html" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
                <nav class=" py-4 " aria-label="... ">
                    <ul class="pagination justify-content-center ">
                        <li class="page-item disabled ">
                            <span class="page-link ">Previous</span>
                        </li>
                        <li class="page-item  active"><a ng-Click="batdau = 0 " class="page-link " href="#!">1</a></li>
                        <li class="page-item  " aria-current="page ">
                            <span ng-Click="batdau=6 " class="page-link ">2</span>
                        </li>
                        <li class="page-item ">
                            <a ng-Click="batdau=12 " class=" page-link " href="#!">3</a>
                        </li>
                        <li class="page-item ">
                            <a ng-Click="batdau=18 " class=" page-link " href="#!">4</a>
                        </li>
                        <li class="page-item ">
                            <a ng-Click="batdau=24 " class=" page-link " href="#!">5</a>
                        </li>
                        <li class="page-item ">
                            <a ng-Click="batdau=30 " class=" page-link " href="#!">6</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link " href="# ">Next</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
    </div>
</article>